@model TestVm
<form action="" method="post">
    <label for="id">
        <input type="text" asp-for="Id">
    </label>
    <label for="Name">
        <input type="text" asp-for="Name">
    </label>
    <label for="Address">
        <input type="text" asp-for="Address">
    </label>
    <button type="Submit">save </button>
</form>